<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p><b><%= posts.title %> - <%= posts.created_at %></b></p>
    <div>
        <p id="post-text" style="padding-left: 20px; margin-bottom: 25px;"><%= posts.review %></p>
    </div>
   <form action="/posts/<%= posts._id %>/addComment" method="post">
    <textarea name="comment" id="comment" cols="70" rows="10" placeholder="Write your comment here"></textarea>
    <button>Add Comment</button>
   </form>
</body>
</html>