<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            width: 80%;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <h1>Edit Page</h1>
    <form action="/posts/<%= post._id %>/update" method="post">
        
        <textarea name="review" id="review" rows="10" cols="30" minlength="25"><%= post.review %></textarea >
        <button type="submit">Update</button>
    </form>
</body>
</html>